* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(244, 244, 244);
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.header {
  grid-area: 1 / 2 / 3 / 6;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  box-shadow: rgb(166, 166, 166);
}

.searchbar {
  background-color: rgb(244, 244, 244);
  width: 90%;
  height: 30%;
  border-radius: 15px;
}

.profile-left {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 2em;
}

.profile-right {
  grid-area: 1 / 2 / 2 / 3;
}

.nav {
  grid-area: 2 / 1 / 3 / 2;
}

.nav-right {
  grid-area: 2 / 2 / 3 / 3;
}

.profile-left,
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-buttons {
  border-radius: 1.75em;
  transition: all .3s ease
}

.sidebar-buttons:hover {
  cursor: pointer;
  font-size: 1.2em;
  background-color: rgb(1, 134, 187);
  padding: 1.2em 2.2em;
  transition: all .3s ease;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-buttons {
  background-color: rgb(36, 169, 222);
  color: white;
  font-size: 1em;
  padding: 1em 2em;
  border-radius: 1.75em;
  transition: padding .3s ease, background-color .3s ease ;
}

.nav-buttons:hover {
  cursor: pointer;
  background-color: rgb(1, 134, 187);
  padding: 1.2em 2.2em;
  transition: all .3s ease;
}

.profile-right,
.nav-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-user-img {
  background-color: gray;
  height: auto;
  border-radius: 25px;
}

.nav > img {
  width: 50px;
  height: auto;
  background-color: gray;
  border-radius: 25px;
  margin: 0 1em;
}

.image0,
.image1,
.image2,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9 {
  width: 24px;
  height: auto;
}

.logo,
.sidebar {
  justify-content: center;
  background-color: rgb(36, 169, 222);
  color: whitesmoke;
  font-weight: 900;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  padding-right: 1.75em;
}

.logo img {
  margin: 0 0.5em;
}

.sidebar {
  grid-area: 2 / 1 / 11 / 2;
  font-size: 1.1em;
  background-color: rgb(36, 169, 222);
  color: whitesmoke;
  display: grid;
  justify-content: flex-start;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

.navbar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar-buttons {
  margin: .7em 0;
  padding-bottom: 1.3em;
}

.sidebar-buttons > img {
  margin-right: .5em;
}

.content {
  grid-area: 3 / 2 / 11 / 6;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: 15px;
  padding: 1.25em 1.5em;
  overflow: scroll;
}

.content .box {
  background-color: white;
  border-left: 10px solid orange;
  border-radius: 10px;
  padding-left: 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 170px;
  min-width: 200px;
  overflow: scroll;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.your-projects {
  align-self: flex-end;
  grid-area: 1 / 1 / 2 / 3;
}

.right-sidebar {
  grid-area: 1 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcements,
.trending {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  padding: 2em 1.5em;
  background-color: white;
  border-radius: 10px;
  height: 90%;
}

.announcements > div > p {
  font-size: .85em;
  font-weight: 400;
  color: gray;
}

.users {
  display: flex;
  align-items: center;
}

.users p {
  font-size: .8em;
}

.users img {
  width: 40px;
  height: auto;
  border-radius: 25px;
  margin-right: .75em;
}

.user1 {
  background-color: rgb(125, 43, 43);
}

.user2 {
  background-color: gray;
}

.user3 {
  background-color: rgb(72, 72, 72);
}

.user4 {
  background-color: rgb(0, 177, 0);
}

.trending-head,
.announce-head {
  padding: .24em 0;
}

hr.solid {
  border: 1px solid #d5d5d5;
  margin: .5em 0;
}